:root{
    --cyan-strong: hsl(172, 67%, 45%);
    --cyan-very-dark: hsl(183, 100%, 15%);
    --cyan-dark-grayish : hsl(186, 14%, 43%);
    --cyan-light-grayish : hsl(185, 41%, 84%);
    --white: hsl(0, 0%, 100%);
}

*{   
    box-sizing: border-box;

    font-family: 'Space Mono', monospace;
}

body{
    font-size: 24px;

}

.main-title{
    text-align: center;

}

.main-container{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--cyan-light-grayish);
}

.main-content{
    border-radius: 25px;
    display: flex;
    background-color: var(--white);
    padding: 25px;
    align-content: center;
}

.left-container{
    border-radius: 25px;
    display: grid;
    padding: 55px;
}


.right-container{
    display: grid;
    background-color: var(--cyan-very-dark);
    padding: 55px;
    border-radius: 25px;
    align-content: space-between;
}

.reset-button{
    height: 50px;
}

.information{
    display: grid;
    grid-template-columns: repeat(2,100px);
    justify-items: stretch;
    color: var(--white);
}

.amount{
    text-align: right;
    font-size: 25px;
    color: rgba(52,186,169,255);
}

.information > p > span{
    color: var(--cyan-dark-grayish);
}

.tip-buttons{
    display: grid;
    grid-template-columns: repeat(3,110px);
}

#custom-tip{
    margin: 5px ;
    width: 100px;
    height: 38px;
}

.tip-buttons > button {
    background-color: var(--cyan-very-dark);
    color: var(--white);
    margin: 5px;
}

.tip-buttons > button:hover {
    background-color: var(--cyan-strong);
    color: var(--cyan-very-dark);
}

.tip-buttons > active-button {
    background-color: var(--cyan-dark-grayish);
    color: var(--cyan-very-dark);
}

.right-container > button {
    background-color: var(--cyan-strong);
    color: var(--cyan-very-dark);
    
}

.error-message {
    color: red;
    visibility: hidden;
}

.select-tip-section, .number-of-people-section {
    margin-top: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

input {
    text-align: right;
    color: var(--cyan-very-dark);
}

#bill-charge{
    background-image: url(../images/dollar.png);
    background-position: left;
    background-size: 15px;
    background-repeat: no-repeat;
}

#people-count{
    background-image: url(../images/person.png);
    background-position: left;
    background-size: 15px;
    background-repeat: no-repeat;
}